%h1 Listado de Prestamos

%table#prestamos.table.table-stripped
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @prestamos.each do |prestamo|
      %tr
        %td
          .btn-group
            = link_to 'Mostrar', prestamo, class: 'btn' 
            %td= link_to 'Editar', edit_prestamo_path(prestamo), class: 'btn'
            %td= link_to 'Eliminar', prestamo, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger'

.form-actions
  = link_to "Nuevo Prestamo", new_prestamo_path, class: 'btn btn-primary'
