#lectores_frecuentes_chart{
  width: 300px;
  height: 300px
}

#lectores_frecuentes_juegos_chart{
  width: 200px;
  height: 200px
}

#lectores_frecuentes_libros_chart{
  width: 200px;
  height: 200px
}

#libros_frecuentes_chart{
  width: 300px;
  height: 300px
}

#libros_frecuentes_juegos_chart{
  width: 200px;
  height: 200px
}

#libros_frecuentes_libros_chart{
  width: 200px;
  height: 200px
}
