= render 'credencial', l: @lector

.form-actions
  .btn-group
    = link_to 'Editar', edit_lector_path(@lector), class: 'btn'
    = link_to 'Foto', foto_lector_path(@lector), class: 'btn'
    = link_to 'Listado', lectores_path, class: 'btn'
